ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 56px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#ply {
    padding-left: 20%;
}
#ply,#sn,#sts{
    color: whitesmoke;
}
#sn,#sts{
    padding-top: 12px;
    z-index: 100000;
}

#pause{
    display: none;
}
#play{
    display:none;
    transform: rotate(45deg);
    z-index:0;

}
.larg{
    font-size:100%;
}